.cart-summary{
    width:100%;
    background-color: #ececec;
    height:30px;
    position: sticky;
    bottom:0;
    padding:20px;
    display:flex;
    justify-content: space-between;
}
.cart-summary div{
    height:fit-content;
    width: fit-content;
    display: inline;
    padding:10px;
    background-color: black;
    color:white;
    border-radius: 12px;
    margin-right: 40px;;

}
.cart-summary p{
    display: inline;
}