.product-card {
    margin-top:50px;
    padding:10px;
    display:flex;
    
}
.product-card img{
    width:280px;
    height:260px;
}
.product-card-info p{
    color:rgba(101, 101, 101, 0.918);
    margin:5px 0;
}
.product-card-info h3{

    word-wrap: break-word;
    margin:4px 0;
}
.favourite-button{
    background-color:white;
    border:none;

}
.cart-button{
    width:90%;
    background-color: black;
    color:white;
    border:none;
    margin:20px;
    border-radius: 16px;
    padding:10px 20px;

}